In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_cbeskul = pd.read_excel('dataset/Clean_Dataset_Content.xlsx')
df_cbeskul.head()

,Nama,Jenis Kelamin,Asal Sekolah,Jurusan,Alasan memilih jurusan,Minat_kemampuan,Apakah Minat dan kemampuan anda sudah sesuai dengan jurusan saat ini
0,Mahasiswa01,Perempuan,SMKN 1 Kota Sukabumi,Teknik Sipil,Tekad Sendiri,Cenderung lebih mudah bekerja dan berpikir men...,IYA
1,Mahasiswa02,Laki - Laki,SMA Negeri 1 Sukabumi,Teknik Informatika,Dorongan Orang Tua,Suka bermain komputer dan menemukan cara kerja...,TIDAK
2,Mahasiswa03,Laki - Laki,SMKN 1 Kota Sukabumi,Teknik Informatika,Tekad Sendiri,Suka bermain komputer dan menemukan cara kerja...,IYA
3,Mahasiswa04,Laki - Laki,SMAN 1 CIBEBBER LEBAK BANTEN,Teknik Informatika,Tekad Sendiri,Suka bermain komputer dan menemukan cara kerja...,IYA
4,Mahasiswa05,Laki - Laki,Sman 1 sukaraja,Teknik Informatika,Tekad Sendiri,Cenderung lebih mudah bekerja dan berpikir men...,IYA

In [3]:
print('Banyak data:', len(df_cbeskul.Nama.unique()))
print('Jurusan:', df_cbeskul['Jurusan'].unique())
print('Jenis Kelamin :', df_cbeskul['Jenis Kelamin '].unique())
print('Alasan memilih jurusan :', df_cbeskul['Alasan memilih jurusan '].unique())

Banyak data: 213
Jurusan: ['Teknik Sipil' 'Teknik Informatika' 'Administrasi Bisnis' 'kimia'
 'Pendidikan Guru Sekolah Dasar' 'Hukum' 'Akuntansi' 'Perawat'
 'Pendidikan Jasmani dan Rohani' 'Hubungan Masyarakat' 'Agribisnis'
 'Pendidikan Matematika' 'Pendidikan Bahasa Satra Indonesia'
 'Administrasi Publik' 'Pendidikan Teknologi Informasi' 'Sastra Inggris'
 'Akuakultur' 'Pendidikan Biologi' 'Perpajakan' 'Pendidikan Guru Paud'
 'Manajemen Ritel']
Jenis Kelamin : ['Perempuan' 'Laki - Laki']
Alasan memilih jurusan : ['Tekad Sendiri' 'Dorongan Orang Tua' 'pengaruh teman']

In [4]:
df_cbeskul = df_cbeskul[['Nama', 'Jenis Kelamin ', 'Asal Sekolah ', 'Jurusan', 'Alasan memilih jurusan ', 'Minat_kemampuan', 'Apakah Minat dan kemampuan anda sudah sesuai dengan jurusan saat ini ']]
df_cbeskul.head()

,Nama,Jenis Kelamin,Asal Sekolah,Jurusan,Alasan memilih jurusan,Minat_kemampuan,Apakah Minat dan kemampuan anda sudah sesuai dengan jurusan saat ini
0,Mahasiswa01,Perempuan,SMKN 1 Kota Sukabumi,Teknik Sipil,Tekad Sendiri,Cenderung lebih mudah bekerja dan berpikir men...,IYA
1,Mahasiswa02,Laki - Laki,SMA Negeri 1 Sukabumi,Teknik Informatika,Dorongan Orang Tua,Suka bermain komputer dan menemukan cara kerja...,TIDAK
2,Mahasiswa03,Laki - Laki,SMKN 1 Kota Sukabumi,Teknik Informatika,Tekad Sendiri,Suka bermain komputer dan menemukan cara kerja...,IYA
3,Mahasiswa04,Laki - Laki,SMAN 1 CIBEBBER LEBAK BANTEN,Teknik Informatika,Tekad Sendiri,Suka bermain komputer dan menemukan cara kerja...,IYA
4,Mahasiswa05,Laki - Laki,Sman 1 sukaraja,Teknik Informatika,Tekad Sendiri,Cenderung lebih mudah bekerja dan berpikir men...,IYA

In [5]:
dropped_columns = ["Jenis Kelamin ", "Alasan memilih jurusan ", "Apakah Minat dan kemampuan anda sudah sesuai dengan jurusan saat ini ", "Asal Sekolah "]
df_cbeskul = df_cbeskul.drop(dropped_columns, axis=1)

In [6]:
df_cbeskul.head()

,Nama,Jurusan,Minat_kemampuan
0,Mahasiswa01,Teknik Sipil,Cenderung lebih mudah bekerja dan berpikir men...
1,Mahasiswa02,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
2,Mahasiswa03,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
3,Mahasiswa04,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
4,Mahasiswa05,Teknik Informatika,Cenderung lebih mudah bekerja dan berpikir men...

In [7]:
df_cbeskul['Minat_kemampuan'].value_counts()

Menyukai science;menyukai kegiatan eksperimen;cenderung menyukai praktik dibanding teori                                                                                                                                                                                                                                                                                                                  15
menyukai memiliki kemampuan menghasilkan sebuah produk;ingin memulai bisnis saya sendiri;mencintai dunia bisnis                                                                                                                                                                                                                                                                                            6
Menggemari kegiatan yang melibatkan tulisan;Gemar menuangkan ide dalam bentuk tulisan atau puisi;Memiliki ketertarikan dalam dunia menulis, khususnya menulis sebuah cerita fiksi;Suka ilmu linguistic                                                                                                                                                                                                     6
Menggemari kegiatan yang melibatkan tulisan;Gemar menuangkan ide dalam bentuk tulisan atau puisi;senang berinteraksi melalui verbal atau bercerita;Memiliki ketertarikan dalam dunia menulis, khususnya menulis sebuah cerita fiksi;Suka ilmu linguistic                                                                                                                                                   5
Cenderung lebih mudah bekerja dan berpikir mengenai hal-hal yang berhubungan dengan angka;cenderung menyukai  ilmu insfrastruktur suatu bangunan;Menyukai kegiatan yang dilakukan outdoor;menyukai dan memiliki kemapuan  menggambar dan merancang suatu bangunan                                                                                                                                          4
                                                                                                                                                                                                                                                                                                                                                                                                          ..
memiliki keinginan  bekerja dikantor;suka teori di banding praktik                                                                                                                                                                                                                                                                                                                                         1
Suka bermain komputer dan menemukan cara kerja komputer;suka bermain games memiliki keinginan menciptakan games sendiri;memiliki keinginan menciptakan sebuah aplikasi;cenderung menyukai kegiatan multimedia dan desain;menyukai memiliki kemampuan menghasilkan sebuah produk;memiliki keinginan berkeliling dunia;memiliki ketertarikan menjalankan bisnis berbasis teknologi                           1
Cenderung lebih mudah bekerja dan berpikir mengenai hal-hal yang berhubungan dengan angka;Menyukai science;menyukai kegiatan eksperimen;cenderung menyukai praktik dibanding teori;tertarik dan memiliki  kemampuan  bidang medis;memiliki kemampuan analisis yang bagus                                                                                                                                   1
Suka bermain komputer dan menemukan cara kerja komputer;memiliki penalaran yang bagus;cenderung menyukai kegiatan multimedia dan desain;Gemar menuangkan ide dalam bentuk tulisan atau puisi;menyukai memiliki kemampuan menghasilkan sebuah produk;ingin memulai bisnis saya sendiri;mencintai dunia bisnis;Memiliki ide untuk membuat orang lain merasa nyaman untuk bekerja sama;gemar bernegosiasi     1
Cenderung lebih mudah bekerja dan berpikir mengenai hal-hal yang berhubungan dengan angka;Menyukai science;menyukai kegiatan eksperimen;cenderung menyukai praktik dibanding teori                                                                                                                                                                                                                         1
Name: Minat_kemampuan, Length: 144, dtype: int64

In [8]:
cv = CountVectorizer()
X = cv.fit_transform(df_cbeskul['Minat_kemampuan'])

In [9]:
nb = MultinomialNB()
nb.fit(X, df_cbeskul['Jurusan'])

MultinomialNB()

In [10]:
new_data = [
    'Cenderung lebih mudah bekerja dan berpikir mengenai hal-hal yang berhubungan dengan angka'
    ]
X_new = cv.transform(new_data)
y_pred = nb.predict(X_new)
print(y_pred)

['Teknik Sipil']

In [ ]:
import pickle
with open('rekomendasi_model.pkl', 'wb') as file:
    pickle.dump(nb, file)

In [11]:
df_cbeskul.set_index('Nama', inplace = True)
df_cbeskul.head()

,Jurusan,Minat_kemampuan
Nama,,
Mahasiswa01,Teknik Sipil,Cenderung lebih mudah bekerja dan berpikir men...
Mahasiswa02,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
Mahasiswa03,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
Mahasiswa04,Teknik Informatika,Suka bermain komputer dan menemukan cara kerja...
Mahasiswa05,Teknik Informatika,Cenderung lebih mudah bekerja dan berpikir men...

In [12]:
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords

df_cbeskul['Key_words'] = ""

for index, row in df_cbeskul.iterrows():
  plot = row['Minat_kemampuan']
  r = Rake()
  r.extract_keywords_from_text(plot)

  key_words_dict_scores = r.get_word_degrees()

  row['Key_words'] = list(key_words_dict_scores.keys())

# dropping the Plot column
df_cbeskul.drop(columns = ['Minat_kemampuan'], inplace = True)
df_cbeskul.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nuvolaofficial\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nuvolaofficial\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,Jurusan,Key_words
Nama,,
Mahasiswa01,Teknik Sipil,"[cenderung, lebih, mudah, bekerja, dan, berpik..."
Mahasiswa02,Teknik Informatika,"[suka, bermain, komputer, dan, menemukan, cara..."
Mahasiswa03,Teknik Informatika,"[suka, bermain, komputer, dan, menemukan, cara..."
Mahasiswa04,Teknik Informatika,"[suka, bermain, komputer, dan, menemukan, cara..."
Mahasiswa05,Teknik Informatika,"[cenderung, lebih, mudah, bekerja, dan, berpik..."

In [13]:
list_stopwords = set(stopwords.words('indonesian'))
def stopwords_removal(words):

  return [word for word in words if word not in list_stopwords]
  
df_cbeskul['Key_words'] = df_cbeskul['Key_words'].apply(stopwords_removal)
df_cbeskul

,Jurusan,Key_words
Nama,,
Mahasiswa01,Teknik Sipil,"[cenderung, mudah, berpikir, berhubungan, angk..."
Mahasiswa02,Teknik Informatika,"[suka, bermain, komputer, menemukan, kerja, me..."
Mahasiswa03,Teknik Informatika,"[suka, bermain, komputer, menemukan, kerja, ce..."
Mahasiswa04,Teknik Informatika,"[suka, bermain, komputer, menemukan, kerja, me..."
Mahasiswa05,Teknik Informatika,"[cenderung, mudah, berpikir, berhubungan, angk..."
...,...,...
Mahasiswa209,kimia,"[menyukai, science, kegiatan, eksperimen, cend..."
Mahasiswa210,kimia,"[menyukai, science, kegiatan, eksperimen, cend..."
Mahasiswa211,kimia,"[menyukai, science, kegiatan, eksperimen, cend..."
Mahasiswa212,kimia,"[menyukai, science, kegiatan, eksperimen, cend..."
Mahasiswa213,kimia,"[menyukai, science, kegiatan, eksperimen, cend..."

In [14]:
df_cbeskul['bag_of_words'] = ''
columns = df_cbeskul.columns
for index, row in df_cbeskul.iterrows():
    words = ''
    for col in columns:
      if col == 'Key_words':
              words = words + ' '.join(row[col]) + ''
      else:
              words = words + row[col] + ' '
    row['bag_of_words'] = words

df_cbeskul.drop(columns = [col for col in df_cbeskul.columns if col!= 'bag_of_words'], inplace = True)

df_cbeskul.head()

                                                   bag_of_words
Nama
Mahasiswa01   Teknik Sipil cenderung mudah berpikir berhubun...
Mahasiswa02   Teknik Informatika suka bermain komputer menem...
Mahasiswa03   Teknik Informatika suka bermain komputer menem...
Mahasiswa04   Teknik Informatika suka bermain komputer menem...
Mahasiswa05   Teknik Informatika cenderung mudah berpikir be...

In [15]:
count = CountVectorizer()
count_matrix = count.fit_transform(df_cbeskul['bag_of_words'])

In [16]:
count.get_feature_names()

c:\Users\nuvolaofficial\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['administrasi',
 'agribisnis',
 'air',
 'akuakultur',
 'akuntansi',
 'alam',
 'analisis',
 'angka',
 'aplikasi',
 'bagus',
 'bahasa',
 'banding',
 'bangunan',
 'bentuk',
 'beradaptasi',
 'berargumen',
 'berbasis',
 'bercerita',
 'berhubungan',
 'berinteraksi',
 'berkeliling',
 'bermain',
 'bernegosiasi',
 'berolahraga',
 'berpikir',
 'berwirausaha',
 'bidang',
 'biologi',
 'biota',
 'biroraksi',
 'bisnis',
 'budidaya',
 'cenderung',
 'cerita',
 'curhat',
 'dan',
 'dasar',
 'desain',
 'diambil',
 'dibanding',
 'dikantor',
 'dunia',
 'eksakta',
 'eksperimen',
 'evolusi',
 'fiksi',
 'fungsi',
 'games',
 'gemar',
 'guru',
 'hidup',
 'hubungan',
 'hukum',
 'ide',
 'ilmu',
 'indonesia',
 'informasi',
 'informatika',
 'inggris',
 'insfrastruktur',
 'ipa',
 'jasmani',
 'kebijakan',
 'kegiatan',
 'kehutanan',
 'kelestarian',
 'kemampuan',
 'kemapuan',
 'keputusan',
 'kerja',
 'ketertarikan',
 'kimia',
 'komputer',
 'kreative',
 'laut',
 'lingkungan',
 'linguistic',
 'makhluk',
 'manajemen',
 'mapping',
 'masyarakat',
 'matematika',
 'medis',
 'meiliki',
 'melatih',
 'melibatkan',
 'membantu',
 'memiliki',
 'memilki',
 'mempelajari',
 'mempertimbangkan',
 'menari',
 'mencintai',
 'menciptakan',
 'menemukan',
 'mengabaikan',
 'mengajar',
 'mengembangkan',
 'menggambar',
 'menggemari',
 'menghadapi',
 'menghasilkan',
 'menjalankan',
 'menuangkan',
 'menulis',
 'menyukai',
 'mepelajari',
 'merancang',
 'minus',
 'mudah',
 'multimedia',
 'nyaman',
 'olah',
 'orang',
 'organisme',
 'outdoor',
 'pajak',
 'paud',
 'peduli',
 'pelajaran',
 'pemahaman',
 'pemerintahan',
 'penalaran',
 'pendidikan',
 'pengarsipan',
 'pengembangan',
 'penyebarannya',
 'perairan',
 'peran',
 'perawat',
 'perbankan',
 'perpajakan',
 'pertanian',
 'pertumbuhan',
 'peternakan',
 'plus',
 'praktik',
 'produk',
 'produksi',
 'publik',
 'puisi',
 'ringan',
 'ritel',
 'rohani',
 'sastra',
 'satra',
 'science',
 'sekolah',
 'senang',
 'seni',
 'seringkali',
 'sifat',
 'sipil',
 'sisi',
 'struktur',
 'suka',
 'sulit',
 'taksonomi',
 'tangan',
 'tawar',
 'teknik',
 'teknologi',
 'teman',
 'teori',
 'tertarik',
 'tubuh',
 'tulisan',
 'usaha',
 'verbal',
 'wilayah']

In [17]:
cv_count = pd.DataFrame(count_matrix.toarray())
cv_count

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,0,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,...,1,1,0,1,1,1,0,0,0,0
4,0,0,0,0,0,0,0,1,1,1,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
211,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
212,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(count_matrix)
cosine_sim

array([[1.        , 0.37139068, 0.41311822, ..., 0.53333333, 0.53333333,
        0.53333333],
       [0.37139068, 1.        , 0.52740963, ..., 0.18569534, 0.18569534,
        0.18569534],
       [0.41311822, 0.52740963, 1.        , ..., 0.43033148, 0.43033148,
        0.43033148],
       ...,
       [0.53333333, 0.18569534, 0.43033148, ..., 1.        , 1.        ,
        1.        ],
       [0.53333333, 0.18569534, 0.43033148, ..., 1.        , 1.        ,
        1.        ],
       [0.53333333, 0.18569534, 0.43033148, ..., 1.        , 1.        ,
        1.        ]])

In [19]:
indices = pd.Series(df_cbeskul.index)

def recommendations(nama, cosine_sim = cosine_sim):

    recommended = []


    idx = indices[indices == nama].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_indexes = list(score_series.iloc[1:2].index)

    for i in top_indexes:
        recommended.append(list(df_cbeskul['bag_of_words'])[i])

    return recommended

In [20]:
x = recommendations('Mahasiswa200')
for i in x:
  print(i.split()[0])

kimia